body{
    font-family: 'Fjalla One', sans-serif;
    background: url("hi.jpg");
    background-size: cover;
    
}

.header_div{
    background: #56BDC3;
    color: white;
}

.header_div p{
    color: red;
    font-size: 18px;
    letter-spacing: 1px;
}

.start_button{
    margin-top: 35px;
}

.copyrightfooter{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 5px 5px 5px gray;
    line-height: 3;
    letter-spacing: 3;
}